.title-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 5vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #a2bcd4, #f6afd2);
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 30px;
    width: auto;
    margin-right: 10px;
    background-color: transparent;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-left: 15px;
  }
  